extends ./layouts/main-layout.pug

block styles
  style
    each party in parties
      | .party-#{party.id}::before {
      |   content: '';
      |   background-image: url('#{party.imageURL}');
      |   background-size: cover;
      |   opacity: 0.1;
      |   position: absolute;
      |   top: 0;
      |   left: 0;
      |   right: 0;
      |   bottom: 0;
      |   z-index: 0;
      | }

block content
  .parties
    each party in parties
      .party(class=`party-${party.id}`)
        .content
          h2 #{party.name}
          .votes Oy Sayısı: #{voteCounts[party.id]}
